@model BugTracker.Models.ViewModels.AssignDevViewModel

@{
    ViewData["Title"] = "Assign Members";
}
<h1>Project : @Model.Ticket?.Title</h1>
<h4>Assign Members</h4>
<hr />
<div class="row card">
    <div class="col-md-4">
        <form method="post" asp-action="AssignDeveloper" asp-controller="Tickets">
            <input type="hidden" asp-for="Ticket!.Id" />

            <h2>@Model.Ticket?.Title </h2>

            <p>@Model.Ticket?.Description </p>

            <div class="form-group">
                <label class="control-label">Select Project Manager</label>
                <select asp-for="Developer" class="form-control text-black" asp-items="@Model.DeveloperList">
                    <option>Choose a User</option>
                </select>
                <span asp-validation-for="Developer" class="text-danger"></span>
            </div>
            <input type="submit" value="Assign" class="btn btn-primary" />
        </form>
    </div>
</div>
<div>
    <a asp-action="UnassignedTickets">Back to List</a>
</div>
